@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px dashed white; */
}

body {
    background-image: url(../assets/imgs/recorridos/carrossel_img1.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.tela {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 83vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_lateral {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 17vw;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 7vw;
}

.usuario {
    color: #fabb1b;
    font-size: 1.3em;
    margin: 20px;
    padding: 20px 0px;
}

.usuario p {
    font-family: "Roboto Mono", monospace;
}

button.opcoes {
    background-color: transparent;
    color: #FABB1B;
    width: 12vw;
    height: 10vh;
    margin: 10px 0px;
    text-align: left;
    font-size: 1.3em;
    border: 0px;
    cursor: pointer;
    transition: 1s;
}

button.texto_btn {
    font-family: "Roboto Mono", monospace;
}
button.opcoes:hover {
    color: white;
    transform: scale(1.05);
    transition: 1s;
}

.cx_dashboard {
    background-color: rgba(0, 0, 0, 0.9);
    width: 90%;
    height: 90%;
    display: flex;
    position: relative;

}

.cx_kpis {
    height: 25%;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.kpi {
    height: 85%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.span_texto {
    font-size: 1.3em;
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maiorPontuacao {
    background-color: #2E7D32;
}

.mediaPontuacao {
    background-color: #C62828;
}

.cx_grafico {
    height: 75%;
    width: 65%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_grafico {
    background-color: #2E7D32;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px #2E7D32;
    transition: 1s;
}

.card_grafico:hover {
    transform: scale(1.05);
    transition: 1s;
}

.grafico {
    background-color: rgb(0, 0, 0);
    border: 2ps solid rgb(250, 187, 27) ;
    border-radius: 10px;
    height: 95%;
    width: 97%;
}


.cx_ranking {
    height: 100%;
    width: 35%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ranking {
    color: #FABB1B;
    background-color: black;
    border: 10px solid #FABB1B;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #FABB1B;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 1s;
}

.ranking:hover {
    transform: scale(1.05);
    transition: 1s;
}

h1 {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dados_ranking {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo_coluna {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.dados { /* CAIXA DOS DADOS */
    height: 20%;
    width: 90%;
    display: flex;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}