/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px dashed white; */
}

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    background-image: url(../assets/imgs/recorridos/carrossel_img1.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.tela {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 83vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_lateral {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 17vw;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 7vw;
}

.usuario {
    color: #FABB1B;
    font-size: 1.3em;
    margin: 20px;
    padding: 20px 0px;
}

.usuario p {
    font-family: "Roboto Mono", monospace;
}

button.opcoes {
    background-color: transparent;
    color: #FABB1B;
    width: 12vw;
    height: 10vh;
    margin: 10px 0px;
    text-align: left;
    font-size: 1.3em;
    border: 0px;
    cursor: pointer;
    transition: 1s;
}

button.texto_btn {
    font-family: "Roboto Mono", monospace;
}
button.opcoes:hover {
    color: white;
    transform: scale(1.05);
    transition: 1s;
}

.cx_quiz {
    background-color: rgba(0, 0, 0, 0.9);
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo_inicial {
    font-size: 2.5em;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

/* NÃO APAGAR */
.text-success-with-bg {
    color: white;
    background-color: var(--success-light);
}
/* NÃO APAGAR */
.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}
/* NÃO APAGAR */
.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

/* NÃO APAGAR */
.text-new-gray {
    color: var(--new-gray);
}

button.iniciarQuiz {
    background-color: #FABB1B;
    color: black;
    height: 12vh; /* 15% */
    width: 20vw; /* 30% */
    text-align: center;
    font-size: 1.5em;
    transition: 1s;
    border: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

button.iniciarQuiz:hover {
    transform: scale(1.05);
    transition: 1s;
}

#msg_inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pontuacao {
    margin-top: 10px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.pontuacaoDuranteJogo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.acertos {
    background-color: #2E7D32;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    text-align: center; 
    width: 40%;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.erros {
    background-color: #C62828;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    text-align: center;
    width: 40%;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.metrica {
    height: 45%;
    width: 30%;
    font-size: 1.7em;
    margin: auto;
    text-align: center;
}

.pontuacaoFinalJogo {
    font-size: 1.1em;
    width: 30%;
    height: 100%;
    background-color: #9dd3ba;
    margin-right: 20px;
}

.pontoFinal {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.msgFinal {
    display: block;
    width: 100%;
    height: 60%;
    text-align: center;
}

.jogo {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.infoQuestao {
    height: 10%;
    display: flex;
    align-items: center;
}

.perguntaDaQuestaoAtual {
    height: 10%;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternativas {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.alternativa {
    width: 40%;
    height: 40%;
}

label {
    background-color: #0762C8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    box-shadow: 3px 3px 5px black;
}

label:hover {
    transform: scale(1.08);
    transition: 1.5s;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

/* input[type="radio"]:checked + label {
    background-color: lightblue;
  } */


.botoes {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button.botao {
    background-color: #FABB1B;
    border: 0px;
    width: 25%;
    height: 60%;
    cursor: pointer;
    transition: 1s;
}

button.botao:hover{
    transform: scale(1.05);
    transition: 1s;
}


