* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
    /* height: 500vh; */
}
body {
    height: 500vh;
}

.container {
    max-width: 100vw;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    padding: 5px 4%; /* Mudar o tamanho do padding  - 60px 4px*/
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

/* header.rolagem {
    background-color: rgb(0, 0, 0);
    padding: 5px 4%;
}

header.rolagem a {
    color: white;
} */

header img {
    height: 50px;
    font-size: 30px;
    color: white;
    margin-left: 15px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

/* .btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    transition: .2s;
} */

.banner {
    height: 100vh;
    background-image: url(../midias/imagens/recorridos/recorrido-caporales_01\ -\ Copia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensagem-banner {
    background-color: rgba(0, 0, 0, 0.750);
    height: 800px;
    text-align: right;
    height: 170px;
    margin-left: 500px;
    border: 1px dashed black;
    border-radius: 5px;
    padding: 25px;
}

.banner h1 {
    font-size: 4em;
    color: #FABB1B;
}

.banner h4 {
    font-size: 2em;
    color: #FABB1B;
}
