/* 1rem = 16px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
    /* height: 500vh; */
}
body {
   height: 500vh;
}

.container {
   max-width: 100vw;
   margin: auto;
}

.flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header {
   background-color: rgba(0, 0, 0, 0.8);
   width: 100%;
   padding: 5px 4%; /* Mudar o tamanho do padding  - 60px 4px*/
   position: fixed;
   top: 0;
   left: 0;
   transition: 0.5s;
}

/* header.rolagem {
   background-color: rgb(0, 0, 0);
   padding: 5px 4%;
}

header.rolagem a {
   color: white;
} */

header img {
   height: 50px;
   font-size: 30px;
   color: white;
   margin-left: 15px;
}

header ul {
   list-style-type: none;
}

header ul li {
   display: inline-block;
   margin: 0 40px;
}

header ul li a {
   
   color: white;
   text-decoration: none;
}

header ul li a:hover {
   color: #FABB1B;
}

.banner {
   height: 100vh;
   background-image: url(../midias/imagens/recorridos/recorrido-caporales_01\ -\ Copia.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.mensagem-banner {
   background-color: #330606;
   height: 170px;
   width: 500px;
   text-align: right;
   margin-left: 45vw;
   margin-top: 50vh;
   padding: 25px;
   box-shadow: 4px 4px 10px black;
}

.mensagem-banner img {
   height: 170px;
}

.banner h1 {
   font-size: 4em;
   color: #FABB1B;
}

.banner h4 {
   font-size: 2em;
   color: #FABB1B;
}
